# ENVIRONMENT
NODE_ENV=

# CLIENT_URLS
APP_URL=
API_URL=

# POSTGRES
DATABASE_URL=

# REDIS
REDIS_URL=

# ELASTICSEARCH
ELASTICSEARCH_URL=
ELASTICSEARCH_API_KEY=

# JWT
JWT_SECRET=
JWT_EXPIRATION_TIME=

# TWILLIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# RESEND
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
RESEND_INBOUND_REPLY_TO=

# HUBSPOT
HUBSPOT_API_KEY=

# APIFY
APIFY_API_TOKEN=

# GEMI
GEMI_API_KEY=

# AI
OPENAI_API_KEY=
OPENAI_WEBHOOK_SECRET=

# ANTHROPIC
ANTHROPIC_API_KEY=

# BULLMQ
BULL_BOARD_USER=
BULL_BOARD_PASSWORD=


